{% extends "layouts/base.html" %}
{% block title %} Role {{role.name}} {% endblock %}

{% block content %}

<!-- <div style="width: 100%; border: 1px solid grey; border-radius: 4px;">

</div> -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3 mb-0">{{role.name}} </h1>
    <div>
        <a href="{{ url_for('roles.edit', role_id=role.id) }}" class="btn btn-sm btn-outline-secondary"> Edit </a>
    </div>
</div>

<div class="d-flex">    
    <p><strong> Description: </strong></p>
    <p> - {{role.descriptions}} </p>
</div>

<div class="mb-3 pt-4 pb-4" style="width: 100%; border-top: 1px solid gray; border-bottom: 1px solid gray;">
    <h3>Permissions</h3>
    <ul>
        {% for p in current_permission %}
            <li>{{ p.code }} - {{ p.name }}</li>
        {% endfor %}
    </ul>
</div>

<div class="mb-3">
    <h1 class="h3 mb-0"> Users with this Role</h1>
    <!-- For User with role -->
     <ul class="pt-4 pb-4">
        {% for u in users %}
        <li><a href="{{url_for('users.detail', user_id=u.id)}}"> {{u.username}}</a></li>
        {% endfor %}
     </ul>
</div>
<a href="{{ url_for('roles.index') }}" class="btn btn-sm btn-outline-secondary"> Back </a>

{% endblock %}